@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: #f39494;
	margin-left: 400px;
}

a {
	color: #089fe0;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.form {
	width: 582px;
	height: 573px;
	margin-top: 225px;
	margin-left: 229px;
	padding-top: 10px;
	border-radius: 10px;
	background-color: #fffefe;
	text-align: center;
}

.form-header h1 {
	font-family: serif, 'Open Sans';
	font-weight: 700;
	color: #333333;
	font-size: 36px;
}

.form-text h2 {
	font-family: serif, 'Open Sans';
	font-size: 18px;
}

.form-text-input {
	font-family: serif, 'Open Sans';
	width: 394px;
	height: 44px;
	border-radius: 5px;
	border: solid 1px #f5f5f5;
	font-size: 16px;
	color: #333333;
	padding: 5px;
}

.form-text-name {
	font-family: serif, 'Open Sans';
	width: 394px;
	height: 44px;
	border-radius: 5px;
	border: solid 1px #f5f5f5;
	font-size: 16px;
	color: #333333;
	padding: 5px;
	margin-top: 15px;
	background-color: #f5f5f5;
	font-style: italic;
}

.form-text-fio {
	font-family: serif, 'Open Sans';
	width: 394px;
	height: 44px;
	border-radius: 5px;
	border: solid 1px #f5f5f5;
	font-size: 16px;
	color: #333333;
	padding: 5px;
	margin-top: 15px;
	background-color: #f5f5f5;
	font-style: italic;
}

.form-text-email {
	font-family: serif, 'Open Sans';
	width: 394px;
	height: 44px;
	border-radius: 5px;
	border: solid 1px #f5f5f5;
	font-size: 16px;
	color: #333333;
	padding: 5px;
	margin-top: 15px;
	background-color: #f5f5f5;
	font-style: italic;
}

.button{
	margin-top: 45px;
}

.btn{
	font-family: serif, 'Open Sans';
	font-size: 18px;
	width: 394px;
	height: 44px;
	background-color: #089FE0;
	border-radius: 5px;
	border: none;
	color: white;

}

.checkbox{
	margin-top: 30px;
}

.form-checkbox{
	font-family: serif, 'Open Sans';
	font-size: 14px;

}
